<mat-dialog-content class="mat-typography">
  <h1>QuickQuizz</h1>
  <p>Thank you for choosing to learn more before proceeding.</p>
  <p>This app has been developed for the EPA exam for BCS.</p>
  <p>How to use it:</p>
  <ul class="list-unstyled">
    <li>Please input your username and password in the login form</li>
    <li>Options available are:</li>
    <ul>
      <li><b>Restricted </b> - View quiz only,</li>
      <li>Username: restricteduser and Password: Letme1n0</li>
      <li class="mt-2"><b>View</b> - view quiz and answers</li>
      <li>Username: viewuser and Password: viewPassw0rd</li>
      <li class="mt-2"><b>Admin</b> - view and edit quiz and answers</li>
      <li>Username: edituser and Password: editPassw0rd</li>
      <li class="mt-2">
        The Admin also has access to the error page where various backend errors
        can be simulated for testing purposes
      </li>
      <li>The pages are used when an unexpected error happens</li>
    </ul>
    <li class="mt-2">
      Click login and you will be presented with the available tests
    </li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="btn">OK</button>
</mat-dialog-actions>
